@model IEnumerable<LAB3.Models.Rivers>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RV_NAME)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RV_NAME)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.RV_ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.RV_ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.RV_ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
